@import '../../style/variables.scss';


.modalForm-wrap {
    @include flex(column, flex-start, flex-start);

    .modalForm-field {
        margin: 10px 0px;
    }
}

.modalForm-actions {
    @include flex(row,space-between,center);
    width : 100%;

    .modalForm-actions-icon {
        cursor: pointer;
        color: $primary;
    }
    
    .modalForm-actions-btn {
        color: $primary;
    }
}