@import '../../style/variables.scss';


.table-actions {
    @include flex (row, flex-start, center)

}

.table-icon {
    cursor: pointer;
    color: $primary;
    font-size: 14px;
    margin: 0 5px;
}