@import '../../style/variables.scss';


.table-container {
    width: 950px !important;
    margin-top: 30px !important;

    .table {
        width: 950px;
        height: 250px;

        .table-filter-cell {
            @include flex (row, center, center)
        }

        .icon-filter {
            cursor: pointer;
            opacity: 0.7;
            transform: rotate(0);
            transition: all 400ms;
        }

        .icon-filter:hover {
            transform: rotate(90deg);
        }

    
        .table-actions {
            @include flex (row, flex-start, center)
        }
        
        .table-icon {
            cursor: pointer;
            color: $primary;
            font-size: 16px;
            margin: 0 5px;
        }
    
    }
}





